{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3">
        <h2>Gerenciamento de Usuários</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>
                            {% if not usuario.is_admin %}
                                <form method="POST" action="{{ url_for('excluir_usuario', usuario_id=usuario.id) }}">
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            {% else %}
                                <small>Administrador</small>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
