{% extends 'base.html' %}

{% block body %}

<div class="container">
        <h3>Usuários</h3>
        {% for usuario in lista_usuarios %}
        <hr>
        <div class="row">
            <div class="col-3">
                <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}" class="rounded" width="60">
                <p>{{ usuario.username }}</p>
                <p>{{ usuario.email }}</p>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <form method="POST" action="{{ url_for('excluir_usuario', usuario_id=usuario.id) }}">
                        <button type="submit" class="btn btn-danger">Excluir Usuário</button>
                    </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>



<div class="row mt-3">

</div>


{% endblock %}
